.about {
  padding-top: 80px;
  padding-bottom: 178px;

  @include small-mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    @include flex-column; //
    row-gap: 20px;
    width: 40%;

    @include small-desktop {
      width: 50%;
    }

    @include tablet {
      width: 100%;
    }
  }

  &__item {
    padding-bottom: 19px;
    border-bottom: 1px solid var(--bg-gray);


    @include mobile {
      @include flex-column-center;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark);
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--dark);
  }

  &__content {
    @include flex-row;
    gap: var(--gap-dot);


    @include mobile {
      @include flex-column-center;
    }
  }

  &__dot {
    @include flex-row;
    align-items: center;
    gap: var(--gap-dot);

    svg {
      width: 5px;
      height: 5px;
      fill: var(--light-brown);
    }
  }

  &__square {
    position: absolute;
    right: 114px;
    bottom: -5px;
    width: 471px;
    height: 502px;
    border: 2px solid var(--light-brown);

    @include small-desktop {
      right: 35px;
      bottom: 23px;
    }

    @include tablet {
      display: none;
    }
  }

  &__img {
    position: absolute;
  }

  &__img--t {
    top: 0;
    right: 15px;

    @include small-desktop {
      display: none;
    }
  }

  &__img--b {
    right: 360px;
    bottom: -88px;

    @include small-desktop {
      right: 103px;
      bottom: 32px;
    }

    @include tablet {
      display: none;
    }
  }
}