.contacts {
  padding-top: 404px;
  padding-bottom: 50px;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include small-tablet {
      justify-items: center;
      row-gap: var(--gap);
    }
  }

  &__info {
    grid-column: 5 span;

    @include small-tablet {
      grid-column: 12 span;
    }
  }

  &__form {
    grid-column: 7 span;
    padding-left: 12px;

    @include small-tablet {
      grid-column: 12 span;
    }
  }

  &__title {
    margin-bottom: 35px;
    font-size: 48px;

    @include tablet {
      font-size: 40px;
    }

    @include small-tablet {
      margin-bottom: 15px;
      text-align: center;
    }

    @include mobile {
      font-size: 25px;
    }
  }

  &__title-form {
    margin-bottom: 9px;
    font-size: 48px;

    @include tablet {
      font-size: 40px;
    }

    @include small-tablet {
      text-align: center;
      margin-bottom: 0;
    }

    @include mobile {
      font-size: 25px;
      line-height: 44px;
    }
  }
}