.hero {
  position: relative;
  overflow: hidden;
  padding: 264px 0 265px;
  background-color: var(--bg-gray);
  background: fixed url("/../../img/hero-bg.webp") no-repeat 50% 50% transparent;
  background-size: cover;
  background-color: var(--bg-gray);

  @include mobile {
    padding: 150px 0;
  }

  &__container {
    @include mobile {
      @include flex-column-center;
    }
  }

  &__text {
    display: inline-block;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1.44px;
    color: var(--light-color);

    @include small-tablet {
      padding-left: 30px;
      font-size: 20px;
    }

    @include mobile {
      padding: 0;
    }
  }

  &__text--right {
    padding-right: 8px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--light-color);

    @include tablet {
      font-size: 46px;
      text-align: center;
    }

    @include small-tablet {
      padding-left: 30px;
      font-size: 30px;
      line-height: 64px;
    }

    @include mobile {
      padding-left: 20px;
      line-height: 44px;
    }
  }

  &__order {
    @include flex-all-sb;

    @include mobile {
      @include flex-column;
    }
  }

  &__btn {
    display: inline-block;
    padding: 38px 65px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--light-color);
    background-color: var(--dark-purple);
    transition: background-color .3s ease-in-out, color .3s ease-in-out, font-size .5s ease-in-out;

    &:focus:not(:active) {
      outline: 1px solid var(--light-brown);
      outline-offset: 3px;
    }

    &:hover {
      font-size: 25px;
      color: var(--light-brown);
      background-color: var(--light-color);
    }

    &:active {
      background-color: var(--dark-purple);
    }

    @include small-tablet {
      padding: 30px 40px;

      &:hover {
        font-size: 20px;
      }
    }

    @include mobile {
      margin-bottom: 30px;
    }

  }
}