.services {
  padding-top: 220px;
  padding-bottom: 220px;
  background-color: var(--dark-purple);

  @include small-mobile {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__container {
    @include flex-all-center;
    flex-direction: column;
  }

  &__image {
    margin-bottom: 34px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: var(--light-brown);

  }

  &__content {
    @include flex-column-center;
  }

  &__text {
    max-width: 785px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: var(--light-color);
  }

  &__author {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 5.88px;
    text-align: center;
    color: var(--light-brown);
  }
}