:root {
  --font-family: "Poppins", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --gap: 30px;
  --gap-dot: 12px;
  --dark: #000000;
  --dark-gray: #2e2e2e;
  --bg-gray: #c2c9d6;
  --text-gray: #808080;
  --dark-purple: #3a4574;
  --light-brown: #d3b47f;
  --light-color: #fff;
  --light-gray: #ccc;
  --color-modal: rgba(0,0,0, 0.5);
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/PoppinsRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/PoppinsMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/PoppinsSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/PoppinsBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
@media (max-width: 320px) {
  .container {
    --content-width: 320px;
    --container-offset: 10px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.section-title {
  margin: 0;
}

.descr {
  margin: 0;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 88px;
  color: var(--dark);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  margin: auto;
  bottom: auto;
  padding-top: 55px;
}
@media (max-width: 576px) {
  .header {
    padding-top: 20px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 65%;
  gap: var(--gap);
}
@media (max-width: 1024px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow-y: auto;
    width: 80%;
    max-width: 500px;
    height: 100vh;
    -webkit-box-shadow: 10px 4px 15px 0px rgba(34, 60, 80, 0.25);
    box-shadow: 10px 4px 15px 0px rgba(34, 60, 80, 0.25);
    padding: 50px 30px;
    background-color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%);
    -webkit-transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
}
@media (max-width: 576px) {
  .header__nav {
    width: 100%;
    padding-top: 100px;
  }
}
@media (max-width: 320px) {
  .header__nav {
    min-width: 320px;
  }
}
.header__links {
  display: none;
}
.header__logo-img {
  width: 269px;
  height: 55px;
}
@media (max-width: 576px) {
  .header__logo-img {
    width: 206px;
    height: 40px;
  }
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  --burger-width: 45px;
  --burger-height: 30px;
  display: none;
  color: var(--light-color);
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}
@media (max-width: 576px) {
  .burger {
    --burger-width: 40px;
    --burger-height: 25px;
    top: 0;
    right: -20px;
    z-index: 1000;
  }
}

@media (max-width: 576px) {
  .burger.burger--active {
    color: var(--dark);
  }
}
.menu--active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.hero {
  position: relative;
  overflow: hidden;
  padding: 264px 0 265px;
  background-color: var(--bg-gray);
  background: fixed url("/../../img/hero-bg.webp") no-repeat 50% 50% transparent;
  background-size: cover;
  background-color: var(--bg-gray);
}
@media (max-width: 576px) {
  .hero {
    padding: 150px 0;
  }
}
@media (max-width: 576px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.hero__text {
  display: inline-block;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.44px;
  color: var(--light-color);
}
@media (max-width: 768px) {
  .hero__text {
    padding-left: 30px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .hero__text {
    padding: 0;
  }
}
.hero__text--right {
  padding-right: 8px;
}
.hero__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--light-color);
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 46px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .hero__title {
    padding-left: 30px;
    font-size: 30px;
    line-height: 64px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    padding-left: 20px;
    line-height: 44px;
  }
}
.hero__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .hero__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.hero__btn {
  display: inline-block;
  padding: 38px 65px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--light-color);
  background-color: var(--dark-purple);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.5s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.5s ease-in-out;
}
.hero__btn:focus:not(:active) {
  outline: 1px solid var(--light-brown);
  outline-offset: 3px;
}
.hero__btn:hover {
  font-size: 25px;
  color: var(--light-brown);
  background-color: var(--light-color);
}
.hero__btn:active {
  background-color: var(--dark-purple);
}
@media (max-width: 768px) {
  .hero__btn {
    padding: 30px 40px;
  }
  .hero__btn:hover {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .hero__btn {
    margin-bottom: 30px;
  }
}

.about {
  padding-top: 80px;
  padding-bottom: 178px;
}
@media (max-width: 320px) {
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.about__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
  width: 40%;
}
@media (max-width: 1200px) {
  .about__list {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .about__list {
    width: 100%;
  }
}
.about__item {
  padding-bottom: 19px;
  border-bottom: 1px solid var(--bg-gray);
}
@media (max-width: 576px) {
  .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.about__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark);
}
.about__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--dark);
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: var(--gap-dot);
}
@media (max-width: 576px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.about__dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--gap-dot);
}
.about__dot svg {
  width: 5px;
  height: 5px;
  fill: var(--light-brown);
}
.about__square {
  position: absolute;
  right: 114px;
  bottom: -5px;
  width: 471px;
  height: 502px;
  border: 2px solid var(--light-brown);
}
@media (max-width: 1200px) {
  .about__square {
    right: 35px;
    bottom: 23px;
  }
}
@media (max-width: 1024px) {
  .about__square {
    display: none;
  }
}
.about__img {
  position: absolute;
}
.about__img--t {
  top: 0;
  right: 15px;
}
@media (max-width: 1200px) {
  .about__img--t {
    display: none;
  }
}
.about__img--b {
  right: 360px;
  bottom: -88px;
}
@media (max-width: 1200px) {
  .about__img--b {
    right: 103px;
    bottom: 32px;
  }
}
@media (max-width: 1024px) {
  .about__img--b {
    display: none;
  }
}

.services {
  padding-top: 220px;
  padding-bottom: 220px;
  background-color: var(--dark-purple);
}
@media (max-width: 320px) {
  .services {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.services__image {
  margin-bottom: 34px;
}
.services__title {
  margin-bottom: 20px;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  color: var(--light-brown);
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.services__text {
  max-width: 785px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: var(--light-color);
}
.services__author {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 5.88px;
  text-align: center;
  color: var(--light-brown);
}

.products {
  padding-top: 108px;
  padding-bottom: 81px;
}
@media (max-width: 320px) {
  .products {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.products__list {
  display: -ms-grid;
  display: grid;
  grid-row-gap: var(--gap);
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
}
.products__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 670px;
  grid-template-columns: 1fr 670px;
  -ms-grid-rows: (1fr)[1];
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: var(--gap);
}
@media (max-width: 1200px) {
  .products__item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: end;
  }
}
@media (max-width: 768px) {
  .products__item {
    justify-items: center;
  }
}
.products__item--order {
  -ms-grid-columns: 670px 1fr;
  grid-template-columns: 670px 1fr;
}
@media (max-width: 1200px) {
  .products__item--order {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: start;
  }
}
@media (max-width: 768px) {
  .products__item--order {
    justify-items: center;
  }
}
.products__content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .products__content {
    justify-items: center;
  }
}
.products__content--order {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
@media (max-width: 1200px) {
  .products__content--order {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    justify-items: center;
  }
}
.products__title {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .products__title {
    font-size: 30px;
    text-align: center;
  }
}
.products__trait {
  position: absolute;
  top: 48%;
  left: -54px;
  width: 108px;
  height: 0;
  border-bottom: 2px solid var(--light-brown);
}
@media (max-width: 1200px) {
  .products__trait {
    display: none;
  }
}
.products__trait--order {
  left: -24px;
}
@media (max-width: 1200px) {
  .products__trait--order {
    display: none;
  }
}
.products__text {
  padding-top: 8px;
  max-width: 470px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-gray);
}
@media (max-width: 768px) {
  .products__text {
    text-align: center;
  }
}
.products__img {
  width: 100%;
  height: 560px;
}
@media (max-width: 1024px) {
  .products__img {
    height: auto;
  }
}

.gallery {
  position: relative;
  min-height: 605px;
  padding-top: 74px;
  padding-bottom: 340px;
  background-color: var(--dark-purple);
}
.gallery__container {
  position: relative;
}
.gallery__wrapper {
  position: absolute;
  right: 0;
}
.gallery__title {
  font-size: 48px;
  line-height: 76px;
  color: var(--light-color);
}
.gallery__text {
  max-width: 569px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--light-color);
}
.gallery__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.gallery__image {
  max-width: 100%;
  height: 646px;
}

.contacts {
  padding-top: 404px;
  padding-bottom: 50px;
}
.contacts__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 768px) {
  .contacts__container {
    justify-items: center;
    row-gap: var(--gap);
  }
}
.contacts__info {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
@media (max-width: 768px) {
  .contacts__info {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.contacts__form {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
  padding-left: 12px;
}
@media (max-width: 768px) {
  .contacts__form {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.contacts__title {
  margin-bottom: 35px;
  font-size: 48px;
}
@media (max-width: 1024px) {
  .contacts__title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .contacts__title {
    margin-bottom: 15px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .contacts__title {
    font-size: 25px;
  }
}
.contacts__title-form {
  margin-bottom: 9px;
  font-size: 48px;
}
@media (max-width: 1024px) {
  .contacts__title-form {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .contacts__title-form {
    text-align: center;
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .contacts__title-form {
    font-size: 25px;
    line-height: 44px;
  }
}

.footer {
  padding-top: 12px;
  padding-bottom: 50px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: var(--gap);
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -6px;
}
.nav__item:not(:last-child) {
  margin-right: 45px;
}
.nav__link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-color);
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.nav:focus {
  outline: 1px solid var(--light-brown);
  outline-offset: 3px;
}
.nav__link:hover {
  color: var(--light-brown);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.nav__link:active {
  color: var(--dark-purple);
}
@media (max-width: 1024px) {
  .nav {
    width: 100%;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .nav__item {
    width: 100%;
  }
  .nav__link {
    display: inline-block;
    width: 80%;
    padding: 20px 0;
    border-bottom: 1px solid var(--light-brown);
    color: var(--dark);
    font-size: 20px;
  }
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .header-contact {
    padding-left: 20px;
    color: var(--dark);
  }
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  gap: 11px;
}
.contacts-link svg {
  width: 24px;
  height: 24px;
  fill: var(--light-brown);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.contacts-link svg:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.contacts-link svg:active {
  fill: var(--dark-purple);
}
.contacts-link__value {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-color);
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (max-width: 1024px) {
  .contacts-link__value {
    color: var(--dark);
  }
}
.contacts-link__value:focus {
  outline: 1px solid var(--light-brown);
}
.contacts-link__value:hover {
  color: var(--light-brown);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.contacts-link__value:active {
  color: var(--dark-purple);
}

.social-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 768px) {
  .social-links__list--hero {
    gap: 38px;
  }
}
@media (max-width: 576px) {
  .social-links__list {
    gap: 20px;
  }
}
.social-links__list--hero {
  gap: 40px;
}
.social-links__list--hero {
  gap: 25px;
}
.social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.social-links__link svg {
  width: 48px;
  height: 48px;
  fill: var(--light-brown);
  -webkit-transition: fill 0.3s ease, outline 0.3s ease, border-radius 0.3s ease-in-out;
  transition: fill 0.3s ease, outline 0.3s ease, border-radius 0.3s ease-in-out;
}
.social-links__link svg:focus {
  fill: var(--light-color);
}
.social-links__link svg:hover {
  fill: var(--light-color);
  border-radius: 50%;
  border: 1px solid var(--light-color);
}
.social-links__link svg:active {
  fill: var(--dark-purple);
  border: 1px solid var(--dark-purple);
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-links__link svg:focus {
    fill: var(--bg-gray);
  }
  .social-links__link svg:hover {
    fill: var(--bg-gray);
    border-radius: 50%;
    border: 1px solid var(--bg-gray);
  }
  .social-links__link svg:active {
    fill: var(--dark-purple);
    border: 1px solid var(--dark-purple);
    border-radius: 50%;
  }
}
.social-links__link--footer svg:hover {
  fill: var(--dark-purple);
  border-radius: 50%;
  border: 1px solid var(--light-brown);
}
.social-links__link--footer svg:active {
  fill: var(--dark-purple);
  border: 1px solid var(--dark-purple);
  border-radius: 50%;
}

.graph-modal__form {
  padding-left: 100px;
  padding-right: 100px;
}
@media (max-width: 768px) {
  .graph-modal__form {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 576px) {
  .graph-modal__form {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 576px) {
  .graph-modal__title-form {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }
}
.graph-modal__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark);
}
@media (max-width: 576px) {
  .graph-modal__text {
    text-align: center;
  }
}

.news-wrapper {
  position: relative;
}

.news-btn {
  position: absolute;
  top: 50%;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  color: transparent;
  -webkit-transform: translateY(-58%);
  -ms-transform: translateY(-58%);
  transform: translateY(-58%);
}
@media (max-width: 1024px) {
  .news-btn {
    top: 15%;
  }
}
@media (max-width: 576px) {
  .news-btn {
    top: 10%;
  }
}
.news-btn svg {
  width: 46px;
  height: 46px;
  stroke-width: 2px;
  fill: var(--light-color);
  -webkit-transition: fill 0.1s ease, -webkit-transform 0.3s ease-in-out;
  transition: fill 0.1s ease, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, fill 0.1s ease;
  transition: transform 0.3s ease-in-out, fill 0.1s ease, -webkit-transform 0.3s ease-in-out;
}
.news-btn svg:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.news-btn svg:active {
  fill: var(--light-brown);
}
.news-btn--prev {
  left: 0;
}
.news-btn--next {
  right: 0;
}
.news-btn--gallery-prev {
  top: -119px;
  right: 117px;
}
@media (max-width: 768px) {
  .news-btn--gallery-prev {
    top: 50%;
    left: 0;
  }
  .news-btn--gallery-prev svg {
    fill: var(--dark);
  }
}
.news-btn--gallery-next {
  top: -119px;
  right: 14px;
}
@media (max-width: 768px) {
  .news-btn--gallery-next {
    top: 50%;
    right: 0;
  }
  .news-btn--gallery-next svg {
    fill: var(--dark);
  }
}

.news-slider-gallery {
  overflow: visible;
}

.gallery__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: auto;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 40px;
}
.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
}
.info__item:nth-child(3n) {
  padding-bottom: 16px;
}
.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--light-brown);
}
.info__img svg {
  width: 24px;
  height: 24px;
  fill: var(--light-brown);
  stroke: var(--light-color);
}
.info__caption {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 32px;
  color: var(--dark-gray);
}
.info__link {
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
  color: var(--dark-gray);
}
@media (max-width: 1024px) {
  .info__link {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .info__link {
    font-size: 16px;
  }
}

.form-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}
.form-questions__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 1200px) {
  .form-questions__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.form-questions__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 9px;
}
.form-questions__label:first-child {
  margin-right: 19px;
}
@media (max-width: 1200px) {
  .form-questions__label:first-child {
    margin-right: 0;
  }
}
.form-questions__caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark);
}
.form-questions__input {
  width: 320px;
  padding: 28px 0 28px 16px;
  border: 1px solid var(--light-gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-gray);
}
@media (max-width: 1200px) {
  .form-questions__input {
    width: 100%;
  }
}
.form-questions__input--textarea {
  height: 125px;
  max-width: 670px;
  resize: none;
}
.form-questions__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 270px;
  padding: 38px 104px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: var(--light-color);
  background-color: var(--dark-purple);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.5s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.5s ease-in-out;
}
.form-questions__btn:focus:not(:active) {
  outline: 1px solid var(--light-brown);
  outline-offset: 3px;
}
.form-questions__btn:hover {
  font-size: 30px;
  color: var(--light-brown);
}
.form-questions__btn:active {
  color: var(--light-color);
  background-color: var(--light-brown);
}
@media (max-width: 1024px) {
  .form-questions__btn {
    padding: 30px 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.maps {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
.maps__container {
  -ms-grid-column-span: 12;
  grid-column: 12 span;
}

.map {
  height: 576px;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */