<section class="about">
  <div class="container about__container">
    <ul class="about__list list-reset">
      <li class="about__item">
        <h3 class="about__title">Woensdag 12/01</h3>
        <div class="about__content">
          <span class="about__text">Salade met Serrano</span>
          <div class="about__dot">
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
          </div>
          <span class="about__text">Steak Tartaar</span>
        </div>
      </li>
      <li class="about__item">
        <h3 class="about__title">Donderdag 13/01</h3>
        <div class="about__content">
          <span class="about__text">Toast Roquefort</span>
          <div class="about__dot">
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
          </div>
          <span class="about__text">Penne met Kip en Prei</span>
        </div>
      </li>
      <li class="about__item">
        <h3 class="about__title">Vrijdag 14/01</h3>
        <div class="about__content">
          <span class="about__text">Verrassing van de Chef</span>
          <div class="about__dot">
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
          </div>
          <span class="about__text">Penne met Kip en Prei</span>
        </div>
      </li>
      <li class="about__item">
        <h3 class="about__title">Vrijdag 15/01</h3>
        <div class="about__content">
          <span class="about__text">Verrassing van de Chef</span>
          <div class="about__dot">
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
          </div>
          <span class="about__text">Penne met Kip en Prei</span>
        </div>
      </li>
      <li class="about__item">
        <h3 class="about__title">Vrijdag 16/01
        </h3>
        <div class="about__content">
          <span class="about__text">Verrassing van de Chef</span>
          <div class="about__dot">
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#dot"></use>
            </svg>
          </div>
          <span class="about__text">Penne met Kip en Prei</span>
        </div>
      </li>
    </ul>
      <img class="about__img about__img--t" src="../img/about-square-t.jpg" alt="Flower corner cafe" width="323" height="486" loading="lazy">
      <div class="about__square"></div>
      <img class="about__img about__img--b" src="../img/about-square-b.jpg" alt="The second floor of the cafe" width="323" height="486" loading="lazy">
  </div>
</section>