<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__info">
      <h3 class="title contacts__title">Contacts</h3>
      <address>
        <ul class="info contacts__list list-reset">
          <li class="info__item">
            <div class="info__img">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
            </div>
            <div class="info__content">
              <span class="info__caption">Phone Number</span>
              <a class="info__link" href="tel:+3292825725">+32 9 282 57 25</a>
            </div>
          </li>

          <li class="info__item">
            <div class="info__img">
              <svg>
                <use xlink:href="img/sprite.svg#email"></use>
              </svg>
            </div>
            <div class="info__content">
              <span class="info__caption">Email</span>
              <a class="info__link" href="mailto:info@email.com">info@email.com</a>
            </div>
          </li>

          <li class="info__item">
            <div class="info__img">
              <svg class="">
                <use xlink:href="img/sprite.svg#time"></use>
              </svg>
            </div>
            <div class="info__content">
              <span class="info__caption">Opening Hours</span>
              <a class="info__link" href="#">Everyday from 6 AM&#160;&#8211;&#160;9 PM</a>
            </div>
          </li>

          <li class="info__item">
            <div class="info__img">
              <svg>
                <use xlink:href="img/sprite.svg#address"></use>
              </svg>
            </div>
            <div class="info__content">
              <span class="info__caption">Map Street</span>
              <a class="info__link" href="#">Jl. Raya Surabaya 2787</a>
            </div>
          </li>
        </ul>
      </address>
    </div>

    <form class="contacts__form form-questions forms-1" action="mail.php" enctype="multipart/form-data" method="POST">
      <input type="hidden" name="admin_email[]" value="emmanyil47@gmail.com">
      <input type="hidden" name="form_subject" value="letter subject">
      <h3 class="title contacts__title-form">have any questions?</h3>
      <div class="form-questions__wrap">
        <label class="form-questions__label">
          <span class="form-questions__caption">Name</span>
          <input class="form-questions__input" type="text" data-validate-field="name" name="name" required placeholder="Input your name">
        </label>
        <label class="form-questions__label">
          <span class="form-questions__caption">Email</span>
          <input class="form-questions__input" type="email" data-validate-field="mail" name="email" placeholder="Input your email">
        </label>
      </div>
      <label class="form-questions__label">
        <span class="form-questions__caption">Speciale Request</span>
        <textarea class="form-questions__input form-questions__input--textarea" data-validate-field="message" name="message" placeholder="Input your special request"></textarea>
      </label>

      <button class="btn-reset form-questions__btn" type="submit">Send</button>
    </form>
  </div>
</section>