<footer class="footer">
  <div class="container footer__container">
    <a class="logo header__logo" href="#">
      <img class="header__logo-img" src="../img/logo-footer.jpg" alt="Logo cafe 't Zeezotje" width="269" height="55" loading="lazy">
    </a>

    <div class="social-links footer__links">
      <ul class="social-links__list social-links__list--hero list-reset">
        <li class="social-links__item">
          <a class="social-links__link social-links__link--footer" href="#" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-links__item">
          <a class="social-links__link social-links__link--footer" href="#" aria-label="Instagram">
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-links__item">
          <a class="social-links__link social-links__link--footer" href="#" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-links__item">
          <a class="social-links__link social-links__link--footer" href="#" aria-label="YouTube">
            <svg>
              <use xlink:href="img/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>