<header class="header">
  <div class="container header__container">
    <a class="logo header__logo" href="#">
      <img class="header__logo-img" src="../img/logo-header.png" alt="Logo cafe 't Zeezotje" width="269" height="55" loading="lazy">
    </a>

    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>

    <div class="header__nav" data-menu>
      <nav class="nav" title="Main navigation">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link" href="#">À la carte</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Wijnkaart</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Lunchmenu</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
        </ul>
      </nav>

      <div class="header-contact">
        <a class="contacts-link contacts-link--call" href="tel:3292825725">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <span class="contacts-link__value">+32 9 282 57 25</span>
        </a>
      </div>

      <div class="social-links header__links">
        <ul class="social-links__list list-reset">
          <li class="social-links__item">
            <a class="social-links__link" href="#" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a class="social-links__link" href="#" aria-label="Instagram">
              <svg>
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a class="social-links__link" href="#" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a class="social-links__link" href="#" aria-label="YouTube">
              <svg>
                <use xlink:href="img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>