<section class="products">
  <div class="container products__container">
    <ul class="list-reset products__list">
      <li class="products__item">
        <div class="products__content">
          <h3 class="title products__title">LEKKER ETEN</h3>
          <span class="products__trait"></span>
          <p class="products__text descr">
            Eten gaat niet over indruk maken op mensen. Het gaat erom dat ze zich op hun gemak voelen. Dat is onze filosofie, goed eten in een goede sfeer.
          </p>
        </div>
        <img class="products__img" src="../img/products-1.jpg" loading="lazy" width="670" height="560" alt="Steak">
      </li>
      <li class="products__item products__item--order">
        <div class="products__content products__content--order">
          <h3 class="title products__title">TOFFE AMBIANCE</h3>
          <span class="products__trait products__trait--order"></span>
          <p class="products__text descr">
            Het creëren van de juiste sfeer is zeer belangrijk voor ons. We nemen onze tijd om te zorgen dat alle elementen bijdragen aan de juiste setting.
          </p>
        </div>
        <img class="products__img" src="../img/products-2.jpg" loading="lazy" width="670" height="560" alt="Draft beer">
      </li>
      <li class="products__item">
        <div class="products__content">
          <h3 class="title products__title">LEKKERE COCKTAILS</h3>
          <span class="products__trait"></span>
          <p class="products__text descr">
            Ons doel is simpel: een gastvrije plek bieden waar u kunt genieten van een onvergetelijke cocktail, een goed gesprek en lekker eten.
          </p>
        </div>
        <img class="products__img" src="../img/products-3.jpg" loading="lazy" width="670" height="560" alt="Cooling cocktails">
      </li>
    </ul>
  </div>
</section>