<section class="services">
  <div class="container">
    <div class="news-wrapper">
      <button class="btn-reset news-btn news-btn--prev">
        <svg>
          <use xlink:href="img/sprite.svg#left"></use>
        </svg>
      </button>
      <div class="news-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="services__container">
              <img class="services__image" src="../img/quotes.jpg" loading="lazy" width="83" height="58" alt="quotes">
              <h2 class="section-title services__title">Goede service, lekker eten, toffe ambiance</h2>
              <div class="services__content">
                <blockquote class="descr services__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                </blockquote>
                <span class="services__author">ALAIN HEYNDRICKX</span>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="services__container">
              <img class="services__image" src="../img/quotes.jpg" loading="lazy" width="83" height="58" alt="quotes">
              <h2 class="section-title services__title">Goede service, lekker eten, toffe ambiance</h2>
              <div class="services__content">
                <blockquote class="descr services__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                </blockquote>
                <span class="services__author">ALAIN HEYNDRICKX</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services__container">
              <img class="services__image" src="../img/quotes.jpg" loading="lazy" width="83" height="58" alt="quotes">
              <h2 class="section-title services__title">Goede service, lekker eten, toffe ambiance</h2>
              <div class="services__content">
                <blockquote class="descr services__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                </blockquote>
                <span class="services__author">ALAIN HEYNDRICKX</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services__container">
              <img class="services__image" src="../img/quotes.jpg" loading="lazy" width="83" height="58" alt="quotes">
              <h2 class="section-title services__title">Goede service, lekker eten, toffe ambiance</h2>
              <div class="services__content">
                <blockquote class="descr services__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                </blockquote>
                <span class="services__author">ALAIN HEYNDRICKX</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services__container">
              <img class="services__image" src="../img/quotes.jpg" loading="lazy" width="83" height="58" alt="quotes">
              <h2 class="section-title services__title">Goede service, lekker eten, toffe ambiance</h2>
              <div class="services__content">
                <blockquote class="descr services__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                </blockquote>
                <span class="services__author">ALAIN HEYNDRICKX</span>
              </div>
            </div>
          </div>
        </div>
        <button class="btn-reset news-btn news-btn--next">
          <svg>
            <use xlink:href="img/sprite.svg#right"></use>
          </svg>
        </button>
      </div>
    </div>
</section>